In [1]:
import pandas as pd
import numpy as np

# URL of the dataset
url = "https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(url)

# Display the original DataFrame
print("Original DataFrame:")
print(df.head())  # Display the first few rows
print()

# Adding a new column
new_col = np.random.randint(100, size=len(df))
df.insert(3, 'new_col2', new_col)  # Example values

# Display the DataFrame after adding the new column
print("DataFrame after adding 'New_Column':")
print(df.head())  # Display the first few rows
print()

# Accessing rows
print("Accessing rows:")
print(df.iloc[0])  # Access the first row
print(df.iloc[1:3])  # Access rows from index 1 to 2
print()

# Removing a column
df.drop(columns=['setosa'], inplace=True)  # Specify the column to delete

# Display the DataFrame after removing the specified column
print("DataFrame after removing 'Column_To_Delete':")
print(df.head())  # Display the first few rows

Original DataFrame:
   120    4  setosa  versicolor  virginica
0  6.4  2.8     5.6         2.2          2
1  5.0  2.3     3.3         1.0          1
2  4.9  2.5     4.5         1.7          2
3  4.9  3.1     1.5         0.1          0
4  5.7  3.8     1.7         0.3          0

DataFrame after adding 'New_Column':
   120    4  setosa  new_col2  versicolor  virginica
0  6.4  2.8     5.6        39         2.2          2
1  5.0  2.3     3.3        36         1.0          1
2  4.9  2.5     4.5        22         1.7          2
3  4.9  3.1     1.5        95         0.1          0
4  5.7  3.8     1.7        19         0.3          0

Accessing rows:
120            6.4
4              2.8
setosa         5.6
new_col2      39.0
versicolor     2.2
virginica      2.0
Name: 0, dtype: float64
   120    4  setosa  new_col2  versicolor  virginica
1  5.0  2.3     3.3        36         1.0          1
2  4.9  2.5     4.5        22         1.7          2

DataFrame after removing 'Column_To_Delete':
   120    4  new_col2  versicolor  virginica
0  6.4  2.8        39         2.2          2
1  5.0  2.3        36         1.0          1
2  4.9  2.5        22         1.7          2
3  4.9  3.1        95         0.1          0
4  5.7  3.8        19         0.3          0