In [1]:
import numpy as np
import pandas as pd

Dropping Levels from MultiIndex:
Suppose you have a DataFrame with a MultiIndex:

In [2]:
import pandas as pd

# Sample DataFrame with MultiIndex
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame({'data': [1, 2, 3, 4]}, index=index)

print(df)

              data
first second
A     1          1
      2          2
B     1          3
      2          4

To drop levels from the MultiIndex, you can use the droplevel function:

In [3]:
# Drop levels from MultiIndex
df_dropped = df.droplevel('first')

print(df_dropped)

        data
second
1          1
2          2
1          3
2          4